.App
{
    display: flex;
}

.app__navigation
{
    flex: 1;
}

.app__navigation a
{
    display: block;
    margin: 10px 0;
}

.app__content
{
    flex: 9;
    margin: 10px 0;
    padding: 0 30px;
}

.app__content h2
{
    margin-top: 0;
}

.link__active
{
    font-weight: bold;
}